.body {
    margin: 0;
}
/* ============================== NAVBAR ============================== */
.navcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    background-image: linear-gradient(to right,#10172A, #192963);
    align-items: center;
}

.navcontainer a {
    text-align: center;
    padding: 15px;
    color: #edf5fc;
    text-decoration: none;
    border-radius: 8px;
  font-family: 'Plus Jakarta Sans', sans-serif;
      background-image: linear-gradient(to left, #1f398a, #1c347a);
    border-style: solid;
    border-color: #b8c5d6;
    border-width: 3px;
    font-weight: bold;
}

a:hover {
    color: #b8c5d6;
}

.logo img {
    object-fit: cover;
    width: 100%;
}   

.logogroup {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logotext {
    color: #edf5fc;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.margin {
    margin: 0;
}
/* ============================== NAVBAR ============================== */

/* ============================== MAIN ============================== */

.maincontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
       gap: 0px;
       position: relative;
       overflow: visible;
    }

.maincontainer img {
    width: 100%;
    height: 100%;

/* ============================== BODYBOX ============================== */

}
.bodyboxcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 100%;
    width: 100%;
}

.backgroundimg2 {
    position: absolute;
    inset: 0;
}

.backgroundimg2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bodybox {

        padding: 20px;
    background-image: linear-gradient(to right, #131c3a, #162454);
    gap: 20px;
    position: relative;
    z-index: 99;
    width: 150%;
    max-width: 150%;
    padding-top: 6%;
}

.bodybox h1 {
    color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
      position: relative;
    font-weight: bold;
    font-size: 400%;
    margin: 0;
    text-align: center;
    align-items: center;

}

.bodybox p {
  font-family: 'Plus Jakarta Sans', sans-serif;
          color: #1d3d9e;
        font-size: 300%;
        margin: 0;
        text-align: center;
    align-items: center;
    font-weight: bold;

}

.imagerow {
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 15px;
}

.backgroundimg1, .backgroundimg3 {
    overflow: visible;
    width: 100%;
}

.buttonrow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin-top: -35px;
    font-family: 'Courier New', Courier, monospace;

}

.bodybox a {
    text-decoration: none;
    background-image: linear-gradient(to left, #1f398a, #1c347a);
    color: white;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 125%;
    font-weight: bold;
    color: #edf5fc;
    border-width: 3px;
    border-color: #b8c5d6;
}

a:hover {
        color: #b8c5d6;
        text-decoration: underline;
}

.evolutionsbutton, .mountsbutton {
    margin-left: -35px;
}
/* ============================== BODYBOX ============================== */
.dividerbar {
        background-image: linear-gradient(to right,#10172A, #192963);
height: 20px;
}

.maincontainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
        background-image: linear-gradient(to right,#10172A, #192963);
}

.aboutcontents {
    color: white;
    text-align: center;
    grid-column-start: 2;
  font-family: 'Plus Jakarta Sans', sans-serif;
      margin-top: 50px;
}

.aboutcontents h1 {
    font-size: 500%;
}

.aboutcontents h2 {
    font-size: 150%;
    margin-right: 10px;
}

/* back-to-top copied code */
html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #b8c5d6;
	border-radius: 1000px;
	padding: 5px;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #fff;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: #939ca8;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}

/* ============================== MAIN ============================== */
/* ============================== FOOTER ============================== */

.dividerbar2 {
        background-image: linear-gradient(to right,#10172A, #192963);
height: 15px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1f398a;
   color: white;
   text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;

}
/* ============================== FOOTER ============================== */
/* ============================ EVOLUTIONS ============================ */
body {
background-image: linear-gradient(to right,#10172A, #192963);
}
.disclaimer {
    color: white;
}

.grasselement {
    color: greenyellow;
    grid-row-start: 2;
}



.bigevogrid {
    color: white;
    grid-template-columns: auto auto;
    display: grid;
    background-color: black;
}   

.bulbasaurline {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
      font-family: 'Plus Jakarta Sans', sans-serif;
      display: grid;
      background-color: blue;
}

.evogrid img {
width: 100px;    
grid-row-start: 3;
}

.davinames {
    grid-row-start: 4;
    background-color: teal;
    display: flex;
    justify-content: space-around;
}
