/* ============================== NAVBAR ============================== */
.navcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    background-image: linear-gradient(to right,#10172A, #192963);
    align-items: center;
}

.navcontainer a {
    text-align: center;
    padding: 15px;
    color: #edf5fc;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to left, #1f398a, #1c347a);
    border-style: solid;
    border-color: #b8c5d6;
    border-width: 3px;
    font-weight: bold;
}

.logo img {
    object-fit: cover;
    width: 100%;
}   

.logogroup {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logotext {
    color: #edf5fc;
    font-family: Inter, system-ui, sans-serif;
}
.margin {
    margin: 0;
}
/* ============================== NAVBAR ============================== */

/* ============================== MAIN ============================== */

.maincontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
       gap: 0px;
       position: relative;
       overflow: visible;
    }

.maincontainer img {
    width: 100%;
    height: 100%;

/* ============================== BODYBOX ============================== */

}
.bodyboxcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 100%;
    width: 100%;
}

.backgroundimg2 {
    position: absolute;
    inset: 0;
}

.backgroundimg2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bodybox {

        padding: 20px;
    background-image: linear-gradient(to right, #131c3a, #162454);
    gap: 20px;
    position: relative;
    z-index: 99;
    width: 150%;
    max-width: 150%;
    padding-top: 6%;
}

.bodybox h2 {
    color: white;
        font-family: Inter, system-ui, sans-serif;
        position: relative;
    font-weight: bold;
    font-size: 400%;
    margin: 0;
    text-align: center;
    align-items: center;

}

.bodybox p {
        font-family: 'Courier New', Courier, monospace;
        color: #1d3d9e;
        font-size: 300%;
        margin: 0;
        text-align: center;
    align-items: center;
    font-weight: bold;

}

.imagerow {
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 15px;
}

.backgroundimg1, .backgroundimg3 {
    overflow: visible;
    width: 100%;
}

.buttonrow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin-top: -35px;
    font-family: 'Courier New', Courier, monospace;

}

.bodybox a {
    text-decoration: none;
    background-image: linear-gradient(to left, #1f398a, #1c347a);
    color: white;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 125%;
    font-weight: bold;
    color: #edf5fc;
    border-width: 3px;
    border-color: #b8c5d6;
}

.evolutionsbutton, .mountsbutton {
    margin-left: -35px;
}
/* ============================== BODYBOX ============================== */
.dividerbar {
        background-image: linear-gradient(to right,#10172A, #192963);
height: 20px;
}
/* ============================== MAIN ============================== */
/* ============================== FOOTER ============================== */
